@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body {
    background: #efefef;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.container  {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form {
    width: 500px;
    height: auto;
    background: #000000b9;
    max-width: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    padding: 40px;
    border-radius: 10px;
}
.container form input {
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
}
.container form input:focus {
    outline: 2px solid #1DB954;
}
.container form input[type="checkbox"] {
    width: auto;
}
.container form label {
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
}
.container form .btn {
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    margin: 20px auto;
    background: #39e374;
    border: none;
    color: #fff;
    text-transform: uppercase;
}
.container form .forg-pass {
    text-align: center;
    margin: 5px 0 20px;
}
.container form .forg-pass a {
    color: #ccc;
    text-decoration: none;.container form .header {
    text-align: center;
    margin: 10px 0 20px;
}
.container form .header .logo img {
    width: 100px;
}
.container form .header .logo-text {
    width: 100px;
    padding: 5px 0;
    margin: 10px auto;
    border-bottom: 3px solid #1DB954;
}
.container form .header .logo-text h2 {
    color: #fff;
    font-size: 20px;
     text-align: center;
}